.dark {
    // Variables
    @import "./dark";

    // Utilities
    @import "./helper/utilities";

    // Reboot
    @import "./reboot/reboot";

    // Components
    @import "./components/accordion/custom-accordion";
    @import "./components/button/border-button";
    @import "./components/button/soft-btn";
    @import "./components/close/close";
    @import "./components/menu-style/default-sidebar";
    @import "./components/menu-style/dual-horizontal";
    @import "./components/menu-style/dual-compact";
    @import "./components/menu-style/nav-color";
    @import "./components/footer/footer";
    @import "./components/nav/navbar";
    @import "./components/card/card";
    @import "./components/card/icon-box";
    @import "./components/form/form-control";
    @import "./components/form/form-wizard";
    @import "./components/table/table";
    @import "./components/dropdown/dropdown";
    @import "./components/profile/profile";
    @import "./components/widgets/credit-card";
    @import "./components/popover/popover";

}